<form method="GET" action="http://localhost:3000/vfs">
    Select a Linux OS
	<select required=true name="name">
        <option value="">--Pick Your OS!--</option>
        <option value="debian">Debian</option>
        <option value="redhat">Red Hat</option>
        <option value="ubuntu">Ubuntu</option>
    </select>
	<input type="submit">
</form>