<!DOCTYPE html>
<head>
<title>OS</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
{{#if osType}}
<body background="img/{{osType}}.jpg">
{{else}}
<body>
{{/if}}
	{{{body}}}
</body>
</html>