{{!-- <img src="img/{{osType}}.jpg" class="bg"> --}} 
<br><br><br><br><br><br>
<div class="form">
    <h6>GET: Command&emsp;Option&emsp;Path</h6>
    <form method="GET" action="http://localhost:3000/vfs">
        <select required=true name="command">
                <option value="">--Pick a command--</option>
                <option value="ls">ls</option>
                <option value="tree">tree</option>
                <option value="cat">cat</option>
        </select>
        <input type="text" name="option" value="">
        <input type="text" name="path" value="">
        <input type="submit" value="Submit">
    </form>
</div>


<div class="form">
    <h6>POST: Command&emsp;Path&emsp;Content</h6>
    <form method="POST" action="http://localhost:3000/vfs">
        <select required=true name="command">
                <option value="">--Pick a command--</option>
                <option value="mkdir">mkdir</option>
                <option value="write">write</option>
        </select>
        <input type="text" name="path" value="">   
        <input type="text" name="content" value="">
        <input type="submit" value="Submit">
    </form>

</div>

<div class="form">
    <h6>Terminal:</h6>
    <h6 class="terminal">{{{result}}}</h6>
</div>
